<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <!-- <li><a href="">{{nm|upper}}</a></li>
       <li> <a href="">{{Duration}}</a></li>
        
          <nav>
            <li>index</li>
            <li>about</li>
            <li>django</li>
          </nav>  
            { % block content % } 
            
            <li><a href="{% url 'aboutus' % }">{{about}}</a></li>
            <li><a href="{% url 'xyz' % }">{{django}}</a></li>

            { % endblock % } -->
            
            <h1>hello</h1>
            <h1>Template 1</h1>
        
            
            
    </table>
    <a href = "{% url 'first_app:template2' %}">Go to template 2</a>
    <ul>
    
       
        {% if data == 99 %}                        
        value of data is : -{{data}}
        {% else %}
        data is empty 
        {% endif %}

       

    </ul>
     
    
</body>
</html>